image: python:latest

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python -V
  - type -p python
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - pip install -r test-requirements.txt

stages:
  - lint
  - test

flake8:
  stage: lint
  script:
    - python -m flake8 ./src/sys_line

pylint:
  stage: lint
  script:
    - python -m pylint --rcfile=./.pylintrc ./src/sys_line

.unittest_template: &unittest_definition
  script:
    - cd ./src
    - python3 -m unittest -v

.runtime_template: &runtime_definition
  script:
    - cd ./src
    - python3 -m sys_line -a

unittest:latest:
  image: python:latest
  stage: test
  <<: *unittest_definition

unittest:minimum:
  image: python:3.6
  stage: test
  <<: *unittest_definition

runtime_test:latest:
  image: python:latest
  stage: test
  <<: *runtime_definition

runtime_test:minimum:
  image: python:3.6
  stage: test
  <<: *runtime_definition
